DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=CAMBIAR_AQUI
DB_NAME=db_inmobiliary_data
CIENCUADRAS_HEADLESS=true
FACEBOOK_HEADLESS=true
CIENCUADRAS_MAX_PAGES=0
FINCARAIZ_MAX_PAGES=0
AMOREL_MAX_PAGES=0
METROCUADRADO_MAX_PUBLICATIONS=0
METROCUADRADO_LIST_SCROLLS=0
FACEBOOK_MAX_SCROLLS=0
FACEBOOK_MAX_LINKS=0
FACEBOOK_MAX_DETAILS=0
DOWNLOAD_IMAGES=true
METROCUADRADO_SEARCH_URL=https://www.metrocuadrado.com/casalote-edificio-de-oficinas-edificio-de-apartamentos-apartamento-apartaestudio-casa-local-bodega-lote-finca-consultorio-oficina/venta/pasto/?search=form
